.sidebar {
  grid-row: 1 / -1;
  display: flex;
  background-color: var(--color-grey-2);
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;

  margin-bottom: 3rem;
}

.searchbar-container {
  grid-column: 2 / -1;
  margin-left: 1rem;
}

.main {
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: grid;
  align-content: start;
  gap: 2rem;
  padding-right: 2.5rem;
  padding-bottom: 4rem;
}
