<figure class="logo">
  <img class="logo__img" src="../../assets/logo.png" alt="logo" />
  <figcaption>Cinemate</figcaption>
</figure>

<nav class="nav">
  <ul class="nav__links">
    <li>
      <a href="#" class="nav__link nav__link--active">
        <svg>
          <use xlink:href="../../assets/icons.svg#icon-film1"></use>
        </svg>
        Movies
      </a>
    </li>
    <li>
      <a href="#" class="nav__link">
        <svg>
          <use xlink:href="../../assets/icons.svg#icon-bookmarks"></use>
        </svg>
        Bookmarks
      </a>
    </li>
  </ul>
  <p class="attribution">
    <span>Powered by</span>
    <a href="https://www.themoviedb.org/" target="_blank"
      ><img src="../../assets/tmdb-logo.svg" alt="TMDB logo"
    /></a>
  </p>
</nav>
