<div class="backdrop" (click)="onCloseModal()"></div>
<div class="movie-modal">
  <img class="movie-poster" src="{{ movieData.posterUrl }}" alt="Film Poster" />
  <div class="movie-details">
    <button class="btn close-btn" (click)="onCloseModal()">&#10006;</button>
    <h3 class="movie-title">{{ movieData.title }}</h3>
    <ul class="movie-info">
      <li class="movie-info__item">
        <svg>
          <use xlink:href="../../../assets/icons.svg#icon-calendar"></use>
        </svg>
        <span>Release Date: {{ movieData.releaseDate }}</span>
      </li>
      <li class="movie-info__item">
        <svg>
          <use xlink:href="../../../assets/icons.svg#icon-star-full"></use>
        </svg>
        <span>Rating: {{ movieData.rating }}</span>
      </li>
    </ul>
    <p class="movie-overview">
      {{ movieData.overview }}
    </p>
    <div class="btns">
      <button class="btn play-btn" (click)="onPlay()">
        <svg>
          <use xlink:href="../../../assets/icons.svg#icon-play-circle"></use>
        </svg>
      </button>
      <button
        class="btn bookmark-btn"
        (click)="onToggleBookmark()"
        [ngClass]="{ bookmarked: isBookmarked }"
      >
        <svg>
          <use xlink:href="../../../assets/icons.svg#icon-bookmark"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
