@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Nunito:wght@400;500;600;700;800&display=swap");

:root {
  /*-----COLORS-----*/
  --color-grey: #121212;

  --color-grey-1: #1f2933;
  --color-grey-2: #323f4b;
  --color-grey-3: #9aa5b1;
  --color-grey-4: #e4e7eb;

  --color-backdrop: #1212129f;
  --color-overlay: #313e4dfc;
  --color-overlay-2: #2a3a4975;
  --color-grey-2-transparent: #323f4bb6;
  --color-grey-3-transparent: #717a84bc;

  --color-text-primary: #ececec;
  --color-text-secondary: #bec5c7;
  --color-text-tertiary: #989898;

  --color-accent: #4fcaf7;

  /*-----BREAKPOINTS-----*/
  --bp-big-desktop: 112.5em; /*1800px*/
  --bp-tab-land: 75em; /*1200px*/
  --bp-tab-port: 58.125em; /*930px*/
  --bp-phone: 37.5em; /*600px*/
  --bp-phone-small: 31.25em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 58.125em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--color-grey-1);
  color: var(--color-text-primary);
}

.app {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 12rem auto;
  grid-template-rows: 4rem auto;
  column-gap: 4.5rem;
  row-gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .app {
    grid-template-rows: 6rem 5.5rem auto;
    grid-template-columns: 1fr;
  }
}

/*SHARED STYLES ACROSS COMPONENTS*/

.list-container:not(:last-child) {
  margin-bottom: 2rem;
}

.list-container h2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.movie-list {
  position: relative;
}
